language: ruby
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
gemfile:
  - Gemfile
  - gemfiles/Gemfile-rails.3.2.x
  - gemfiles/Gemfile-rails.4.0.x
notifications:
  email: false
  campfire:
    on_success: change
    on_failure: always
    rooms:
      - secure: "hQRu+b9srhQhc1tuu0Py/TTh63/ZlFHVlLUzi7A5YqLO88AMWrGpkwOQnaHYVAkRlhQbv9Q7iDSLmjL4tb/YzdVB5B52dPSsqNeftDA5kioF+ezvol+U/jy+y88ANNlDUiw6aOggFG8BBujtXY0X0FJSMRauwAarGT37ONFEWn8="
